/*logo*/
/*text*/

img{
    /*width: 200px;*/
    height: 150px;
    margin-left:0px;
    margin-right: 600px;
    margin-top: 10px;
   
}
form.text{
    text-align: left;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding-top:50px;
 padding-bottom:1px;
 padding-right:5px;
 padding-left:80px;
}
.form-group{
    font-size: 25px;
    font-style: bold;
}
.form-check-label{
font-size: 20px;
}

.button{
    text-align: right;
}

.b{
    height: 1000px;
    background-color: #F2A104;
    padding: 0%;
    /*text-align: right;*/
    margin-right: 20%;
    
}







