/*logo*/
/*text*/

img{
    width: 200px;
    height: 150px;
    margin-left:1px;
    margin-right: 600px;
    margin-top: 10px;
   
}
form.text{
    text-align: center;
    color: azure;
    font-size: 155%;
    padding-top:50px;
 padding-bottom:1px;
 padding-right:5px;
 padding-left:80px;
}

h2.title{
    text-align: center;
}


.b{
    width: 100%;
    height: 1000px;
    background-color: rgba(226, 76, 76, 0.938);
    padding: 0%;
    text-align: right;
    margin-right: 20%;
    
}







